#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all reproducible=+all future=+lfs
export DEB_CXXFLAGS_MAINT_APPEND = -fvisibility-inlines-hidden

#BUILD_TESTS = $(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),OFF,ON)
# Unit tests are currently broken
BUILD_TESTS = OFF

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake -- \
		-DBUILD_SHARED_LIBS=ON \
		-DDRACO_TESTS=$(BUILD_TESTS) \
		-DDRACO_VERBOSE=3 \
		-DDRACO_TRANSCODER_SUPPORTED=ON \
		-DDRACO_EIGEN_PATH=/usr/include/eigen3 \
		-DDRACO_FILESYSTEM_PATH=/usr/include \
		-DDRACO_GOOGLETEST_PATH=/usr/src/googletest \
		-DDRACO_TINYGLTF_PATH=/usr/include/stb \
		-DCMAKE_SKIP_RPATH=ON

execute_after_dh_auto_install:
	mv debian/tmp/usr/bin/draco_encoder-* debian/tmp/usr/bin/draco_encoder
	mv debian/tmp/usr/bin/draco_decoder-* debian/tmp/usr/bin/draco_decoder
	mv debian/tmp/usr/bin/draco_transcoder-* debian/tmp/usr/bin/draco_transcoder
